# Immigration Data ETL
### Data Engineering Capstone Project

#### Project Summary
--describe your project at a high level--

The project follows the follow steps:
* Step 1: Scope the Project and Gather Data
* Step 2: Explore and Assess the Data
* Step 3: Define the Data Model
* Step 4: Run ETL to Model the Data
* Step 5: Complete Project Write Up

## Step 2 Explore and assess the data

### Overview
In this section we will explore the data, idenfify and implement necessary transformations and finally export the data to S3 in parquet format.

Subsections of this Notebook:
* Preparations (imports, file locations, etc.)
* Dataframe schema analysis
* Explorative analysis of the data
* Dataframe transformation steps
* Defining a new schema
* Writing data to S3 in Parquet format
* Examples of analyzing table contents using PySpark

### Preparations

#### Imports and Installs

In [1]:
# Do all imports and installs here
import pandas as pd
import numpy as np
import logging
import sys
from datetime import datetime
from os.path import getsize
from nb_helpers import summarize_data, get_sas_definitions, read_sas_in_chunks, read_csv_print, print_stat, non_iso_date_change, change_nullables
from pyspark.sql import SparkSession
from pyspark.sql import SQLContext
from pyspark import SparkContext, SparkConf
from pyspark.sql.window import Window
import pyspark.sql.functions as F
import pyspark.sql.types as T
from pyspark.sql.functions import pandas_udf

# Logging
logging.basicConfig(
    level=logging.ERROR,
    format='%(asctime)s %(levelname)s \t %(message)s ',
    datefmt='%Y-%m-%d %H:%M:%S',
    stream=sys.stdout,
)
log = logging.getLogger('log')

# Improve view
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

### Reading data files into Spark Dataframes
The next cell contains the file locations for each dataset, you may adjust it if required. Also note the configuration of the sample size which will improve performance while making some basic analysis.

In [2]:
# Source file locations
dem_file = 'us-cities-demographics.csv'
imm_file = '../../data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat'
air_file = 'airport-codes_csv.csv'

# Schema file locations
air_schema_file = 'air_schema.json'
dem_schema_file = 'dem_schema.json'
imm_schema_file = 'imm_schema.json'


# If working on a sample of the large immigration dataset, set your sample size here:
sample_size = 0.01

During my analysis I changed the schema of each dataset imported and based on the transformations done created a new schema definition. The definition is stored in a JSON file.

The data will be **imported again** using those schema **at the end** of the "Explore and Assess" section.

Now we setup the Spark Session and read all three files into a dataframe

In [3]:
	
from pyspark.sql import SparkSession
spark = SparkSession.builder.\
config("spark.jars.packages","saurfang:spark-sas7bdat:2.0.0-s_2.11")\
.enableHiveSupport().getOrCreate()

############# TEST option("inferSchema", "true")
start_time = datetime.now()
imm_df = spark.read.format('com.github.saurfang.sas.spark').option("inferSchema","true").load(imm_file)
imm_rows = imm_df.count()
air_df = spark.read.csv(air_file, header=True)
air_rows = air_df.count()
dem_df = spark.read.csv(dem_file, header=True)
dem_rows = dem_df.count()
df_list = {'imm_df': imm_df, 'air_df': air_df, 'dem_df': dem_df}
imm_full = imm_df
elapse = datetime.now() - start_time
print('Reading ', imm_rows , ' lines from ', imm_file)
print('Reading ', dem_rows, ' lines from ', dem_file)
print('Reading ', air_rows, ' lines from ', air_file)
print('Operation runtime ', elapse)

Reading  3096313  lines from  ../../data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat
Reading  2891  lines from  us-cities-demographics.csv
Reading  55075  lines from  airport-codes_csv.csv
Operation runtime  0:00:45.826218

### Explore and Describe data
This section contains the following subsections:
* Spark schema analysis
* Spark dataframe descriptions analysis

Before we start this section we are naming each dataframe and reducing immigration data to a sample of the complete dataframe, keeping the full set in variable `imm_full` (the sample size being configured at the beginning of this notebook).

In [4]:
imm_df = imm_full.sample(sample_size)
imm_df.name = 'i94 immigration data'
dem_df.name = 'city demographics'
air_df.name = 'airport codes'

**Note:**

    * We want to keep track of transformation steps
    * So if a required transformation is identified, it will be assigned a number like "TFA-x"
    * Where "TFA" stands for transformation action (plus a number)

#### Display schemas created automatically by Spark

In [5]:
imm_df.printSchema()
air_df.printSchema()
dem_df.printSchema()

root
 |-- cicid: double (nullable = true)
 |-- i94yr: double (nullable = true)
 |-- i94mon: double (nullable = true)
 |-- i94cit: double (nullable = true)
 |-- i94res: double (nullable = true)
 |-- i94port: string (nullable = true)
 |-- arrdate: double (nullable = true)
 |-- i94mode: double (nullable = true)
 |-- i94addr: string (nullable = true)
 |-- depdate: double (nullable = true)
 |-- i94bir: double (nullable = true)
 |-- i94visa: double (nullable = true)
 |-- count: double (nullable = true)
 |-- dtadfile: string (nullable = true)
 |-- visapost: string (nullable = true)
 |-- occup: string (nullable = true)
 |-- entdepa: string (nullable = true)
 |-- entdepd: string (nullable = true)
 |-- entdepu: string (nullable = true)
 |-- matflag: string (nullable = true)
 |-- biryear: double (nullable = true)
 |-- dtaddto: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- insnum: string (nullable = true)
 |-- airline: string (nullable = true)
 |-- admnum: double (nullable = true)
 |-- fltno: string (nullable = true)
 |-- visatype: string (nullable = true)

root
 |-- ident: string (nullable = true)
 |-- type: string (nullable = true)
 |-- name: string (nullable = true)
 |-- elevation_ft: string (nullable = true)
 |-- continent: string (nullable = true)
 |-- iso_country: string (nullable = true)
 |-- iso_region: string (nullable = true)
 |-- municipality: string (nullable = true)
 |-- gps_code: string (nullable = true)
 |-- iata_code: string (nullable = true)
 |-- local_code: string (nullable = true)
 |-- coordinates: string (nullable = true)

root
 |-- City;State;Median Age;Male Population;Female Population;Total Population;Number of Veterans;Foreign-born;Average Household Size;State Code;Race;Count: string (nullable = true)

**Note** (TFA-1) Several columns in the i94 dataframe were infered as double while they should be of data type integer. Those types should be changed (see `cicid, i94yr,...`).

**Note** (TFA-2) Several columns in airport and demographic data were infered as string where they should be either double or integer (see airport data, `elevation_ft` or demographic data `median_age`

**Note** (TFA-3) Demographics data file was imported as a one-column file due to ';' being used as delimiter. We read the file again:

In [6]:
dem_df = spark.read.csv(dem_file, header=True, sep=';')
dem_df.printSchema()

root
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Median Age: string (nullable = true)
 |-- Male Population: string (nullable = true)
 |-- Female Population: string (nullable = true)
 |-- Total Population: string (nullable = true)
 |-- Number of Veterans: string (nullable = true)
 |-- Foreign-born: string (nullable = true)
 |-- Average Household Size: string (nullable = true)
 |-- State Code: string (nullable = true)
 |-- Race: string (nullable = true)
 |-- Count: string (nullable = true)

**Note**: (TFA-4) For easier handling we strip columns of spaces, apply lower case and replace inner spaces and '-' with underscore '_'

In [7]:
def trim_col_headers(df):
    for col in df.columns:
        changed_col = col.strip().lower().replace(' ', '_').replace('-', '_')
        df = df.withColumnRenamed(col, changed_col)
    return df

dem_df = trim_col_headers(dem_df)

### Dataset descriptions

#### Statistical summary on data
The descriptive statistics were shown in Step 1 already, so we will skip this step here

#### Missing values per dataset
First we are measuring the amount of empty cells per column

In [8]:
# Get no. of entries per column and divide by total rows
imm_col_count = imm_full.describe().filter(F.col('summary') == 'count')
air_col_count = air_df.describe().filter(F.col('summary') == 'count')
dem_col_count = dem_df.describe().filter(F.col('summary') == 'count')

In [9]:
# Print the numbers as percentage

for df, numrows in zip([imm_col_count, air_col_count, dem_col_count], [imm_rows, air_rows, dem_rows]):
    for column in df.columns:
        if column == 'summary':
            next
        else:
            df = df.withColumn(column, F.col(column).cast('int'))
            df = df.withColumn(column, F.bround((F.col(column) / numrows * 100), scale=1))
    print('{}'.format(df.show()))

+-------+-----+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+-------+------+------+-------+------+-----+--------+
|summary|cicid|i94yr|i94mon|i94cit|i94res|i94port|arrdate|i94mode|i94addr|depdate|i94bir|i94visa|count|dtadfile|visapost|occup|entdepa|entdepd|entdepu|matflag|biryear|dtaddto|gender|insnum|airline|admnum|fltno|visatype|
+-------+-----+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+-------+------+------+-------+------+-----+--------+
|  count|100.0|100.0| 100.0| 100.0| 100.0|  100.0|  100.0|  100.0|   95.1|   95.4| 100.0|  100.0|100.0|   100.0|    39.2|  0.3|  100.0|   95.5|    0.0|   95.5|  100.0|  100.0|  86.6|   3.7|   97.3| 100.0| 99.4|   100.0|
+-------+-----+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+-------+------+------+-------+------+-----+--------+

None
+-------+-----+-----+-----+------------+---------+-----------+----------+------------+--------+---------+----------+-----------+
|summary|ident| type| name|elevation_ft|continent|iso_country|iso_region|municipality|gps_code|iata_code|local_code|coordinates|
+-------+-----+-----+-----+------------+---------+-----------+----------+------------+--------+---------+----------+-----------+
|  count|100.0|100.0|100.0|        87.3|    100.0|      100.0|     100.0|        89.7|    74.5|     16.7|      52.1|      100.0|
+-------+-----+-----+-----+------------+---------+-----------+----------+------------+--------+---------+----------+-----------+

None
+-------+-----+-----+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+-----+-----+
|summary| city|state|median_age|male_population|female_population|total_population|number_of_veterans|foreign_born|average_household_size|state_code| race|count|
+-------+-----+-----+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+-----+-----+
|  count|100.0|100.0|     100.0|           99.9|             99.9|           100.0|              99.6|        99.6|                  99.4|     100.0|100.0|100.0|
+-------+-----+-----+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+-----+-----+

None

#### Unique values per column
We can count the number of unique values per dataframe or column using `dropDuplicates()` and `count()`

In [10]:
# Print the numbers as percentage
for df, numrows in zip([imm_df, air_df, dem_df], [imm_rows, air_rows, dem_rows]):
    for column in df.columns:
        distinct_count = df.select(F.col(column)).distinct().count()
        print('No. of unique entries in table "{}": {}'.format(column, (dup_count))
    print('{}'.format(df.show()))

No. of duplicates in table "cicid": 30666
No. of duplicates in table "i94yr": 1
No. of duplicates in table "i94mon": 1
No. of duplicates in table "i94cit": 177
No. of duplicates in table "i94res": 181
No. of duplicates in table "i94port": 152
No. of duplicates in table "arrdate": 30
No. of duplicates in table "i94mode": 5
No. of duplicates in table "i94addr": 100
No. of duplicates in table "depdate": 172
No. of duplicates in table "i94bir": 97
No. of duplicates in table "i94visa": 3
No. of duplicates in table "count": 1
No. of duplicates in table "dtadfile": 61
No. of duplicates in table "visapost": 251
No. of duplicates in table "occup": 22
No. of duplicates in table "entdepa": 11
No. of duplicates in table "entdepd": 12
No. of duplicates in table "entdepu": 2
No. of duplicates in table "matflag": 2
No. of duplicates in table "biryear": 97
No. of duplicates in table "dtaddto": 256
No. of duplicates in table "gender": 5
No. of duplicates in table "insnum": 214
No. of duplicates in table "airline": 171
No. of duplicates in table "admnum": 30665
No. of duplicates in table "fltno": 2015
No. of duplicates in table "visatype": 15
+------+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+---------------+-----+--------+
| cicid| i94yr|i94mon|i94cit|i94res|i94port|arrdate|i94mode|i94addr|depdate|i94bir|i94visa|count|dtadfile|visapost|occup|entdepa|entdepd|entdepu|matflag|biryear| dtaddto|gender|insnum|airline|         admnum|fltno|visatype|
+------+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+---------------+-----+--------+
| 107.0|2016.0|   4.0| 103.0| 103.0|    DET|20545.0|    1.0|     MI|20556.0|  33.0|    2.0|  1.0|20160401|    null| null|      G|      O|   null|      M| 1983.0|06292016|     M|  null|     LH|5.5424716533E10|00442|      WT|
| 149.0|2016.0|   4.0| 103.0| 103.0|    NEW|20545.0|    1.0|     NY|20552.0|  34.0|    2.0|  1.0|20160401|    null| null|      G|      O|   null|      M| 1982.0|06292016|     F|  null|     LH|5.5440588633E10|00402|      WT|
| 200.0|2016.0|   4.0| 103.0| 103.0|    HOU|20545.0|    1.0|     TX|20635.0|  41.0|    1.0|  1.0|20160401|    null| null|      G|      O|   null|      M| 1975.0|06292016|     M|  null|     LH|5.5432435833E10|00440|      WB|
| 228.0|2016.0|   4.0| 103.0| 103.0|    NYC|20545.0|    1.0|     NY|20550.0|  39.0|    2.0|  1.0|20160401|    null| null|      G|      O|   null|      M| 1977.0|06292016|     F|  null|     OS|5.5436868833E10|00087|      WT|
| 397.0|2016.0|   4.0| 103.0| 103.0|    MIA|20545.0|    1.0|     FL|20561.0|  72.0|    2.0|  1.0|20160401|    null| null|      G|      O|   null|      M| 1944.0|06292016|     F|  null|     OS|5.5434850233E10|00097|      WT|
| 574.0|2016.0|   4.0| 103.0| 103.0|    SFR|20545.0|    1.0|     CA|20567.0|  64.0|    2.0|  1.0|20160401|    null| null|      G|      O|   null|      M| 1952.0|06292016|     F|  null|     LH|5.5434037133E10|00454|      WT|
| 610.0|2016.0|   4.0| 103.0| 103.0|    LVG|20545.0|    1.0|     NV|20546.0|  58.0|    2.0|  1.0|20160401|     BRL| null|      G|      R|   null|      M| 1958.0|09302016|     M|  null|    *GA| 9.246114363E10|VPCSW|      B2|
| 644.0|2016.0|   4.0| 103.0| 103.0|    LOS|20545.0|    1.0|     CA|20698.0|  53.0|    3.0|  1.0|20160401|     VNN| null|      G|      O|   null|      M| 1963.0|     D/S|     F|  null|     LH| 9.248134413E10|00456|      F1|
| 868.0|2016.0|   4.0| 104.0| 104.0|    NEW|20545.0|    1.0|     FL|20549.0|  46.0|    2.0|  1.0|20160401|    null| null|      G|      I|   null|      M| 1970.0|06292016|     F|  null|     LH|5.5437888033E10|00402|      WT|
| 935.0|2016.0|   4.0| 104.0| 104.0|    NEW|20545.0|    1.0|     NY|20549.0|  51.0|    2.0|  1.0|20160401|    null| null|      G|      O|   null|      M| 1965.0|06292016|     F|  null|     UA|5.5442925133E10|00055|      WT|
| 952.0|2016.0|   4.0| 104.0| 104.0|    NEW|20545.0|    1.0|     NY|20549.0|  52.0|    2.0|  1.0|20160401|    null| null|      G|      O|   null|      M| 1964.0|06292016|     M|  null|     DL|5.5447016233E10|00149|      WT|
|1025.0|2016.0|   4.0| 104.0| 104.0|    NEW|20545.0|    1.0|     NY|20551.0|  47.0|    2.0|  1.0|20160401|    null| null|      G|      O|   null|      M| 1969.0|06292016|     F|  null|     UA|5.5443908833E10|00055|      WT|
|1096.0|2016.0|   4.0| 104.0| 104.0|    NEW|20545.0|    1.0|     NY|20553.0|  46.0|    2.0|  1.0|20160401|    null| null|      G|      O|   null|      M| 1970.0|06292016|     F|  null|     UA|5.5435796233E10|02067|      WT|
|1334.0|2016.0|   4.0| 104.0| 104.0|    NYC|20545.0|    1.0|     NY|20550.0|  57.0|    2.0|  1.0|20160401|    null| null|      G|      O|   null|      M| 1959.0|06292016|     F|  null|     SN|5.5421062733E10|01401|      WT|
|1336.0|2016.0|   4.0| 104.0| 104.0|    NYC|20545.0|    1.0|     NY|20550.0|  55.0|    2.0|  1.0|20160401|    null| null|      G|      O|   null|      M| 1961.0|06292016|     M|  null|     BA|5.5449052133E10|00115|      WT|
|1393.0|2016.0|   4.0| 104.0| 104.0|    NYC|20545.0|    1.0|     NY|20550.0|  15.0|    2.0|  1.0|20160401|    null| null|      G|      O|   null|      M| 2001.0|06292016|     F|  null|     AB|5.5421388033E10|07450|      WT|
|1495.0|2016.0|   4.0| 104.0| 104.0|    NYC|20545.0|    1.0|     NY|20552.0|  27.0|    2.0|  1.0|20160401|    null| null|      G|      O|   null|      M| 1989.0|06292016|     F|  null|     SN|5.5421360633E10|01401|      WT|
|1666.0|2016.0|   4.0| 104.0| 104.0|    MIA|20545.0|    1.0|     FL|20561.0|  58.0|    2.0|  1.0|20160401|    null| null|      G|      O|   null|      M| 1958.0|06292016|     F|  null|     AA|5.5458336133E10|00039|      WT|
|1685.0|2016.0|   4.0| 104.0| 104.0|    MIA|20545.0|    1.0|     FL|20546.0|  62.0|    2.0|  1.0|20160401|    null| null|      G|      R|   null|      M| 1954.0|06292016|     F|  null|     LX|5.5425672633E10|00066|      WT|
|1946.0|2016.0|   4.0| 104.0| 121.0|    WAS|20545.0|    1.0|     MD|20555.0|  43.0|    2.0|  1.0|20160401|    null| null|      G|      O|   null|      M| 1973.0|06292016|     F|  null|     KL|5.5440882933E10|00651|      WT|
+------+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+---------------+-----+--------+
only showing top 20 rows

None
No. of duplicates in table "ident": 55075
No. of duplicates in table "type": 7
No. of duplicates in table "name": 52144
No. of duplicates in table "elevation_ft": 5450
No. of duplicates in table "continent": 7
No. of duplicates in table "iso_country": 244
No. of duplicates in table "iso_region": 2810
No. of duplicates in table "municipality": 27134
No. of duplicates in table "gps_code": 40851
No. of duplicates in table "iata_code": 9043
No. of duplicates in table "local_code": 27437
No. of duplicates in table "coordinates": 54874
+-----+-------------+--------------------+------------+---------+-----------+----------+------------+--------+---------+----------+--------------------+
|ident|         type|                name|elevation_ft|continent|iso_country|iso_region|municipality|gps_code|iata_code|local_code|         coordinates|
+-----+-------------+--------------------+------------+---------+-----------+----------+------------+--------+---------+----------+--------------------+
|  00A|     heliport|   Total Rf Heliport|          11|       NA|         US|     US-PA|    Bensalem|     00A|     null|       00A|-74.9336013793945...|
| 00AA|small_airport|Aero B Ranch Airport|        3435|       NA|         US|     US-KS|       Leoti|    00AA|     null|      00AA|-101.473911, 38.7...|
| 00AK|small_airport|        Lowell Field|         450|       NA|         US|     US-AK|Anchor Point|    00AK|     null|      00AK|-151.695999146, 5...|
| 00AL|small_airport|        Epps Airpark|         820|       NA|         US|     US-AL|     Harvest|    00AL|     null|      00AL|-86.7703018188476...|
| 00AR|       closed|Newport Hospital ...|         237|       NA|         US|     US-AR|     Newport|    null|     null|      null| -91.254898, 35.6087|
| 00AS|small_airport|      Fulton Airport|        1100|       NA|         US|     US-OK|        Alex|    00AS|     null|      00AS|-97.8180194, 34.9...|
| 00AZ|small_airport|      Cordes Airport|        3810|       NA|         US|     US-AZ|      Cordes|    00AZ|     null|      00AZ|-112.165000915527...|
| 00CA|small_airport|Goldstone /Gts/ A...|        3038|       NA|         US|     US-CA|     Barstow|    00CA|     null|      00CA|-116.888000488, 3...|
| 00CL|small_airport| Williams Ag Airport|          87|       NA|         US|     US-CA|       Biggs|    00CL|     null|      00CL|-121.763427, 39.4...|
| 00CN|     heliport|Kitchen Creek Hel...|        3350|       NA|         US|     US-CA| Pine Valley|    00CN|     null|      00CN|-116.4597417, 32....|
| 00CO|       closed|          Cass Field|        4830|       NA|         US|     US-CO|  Briggsdale|    null|     null|      null|-104.344002, 40.6...|
| 00FA|small_airport| Grass Patch Airport|          53|       NA|         US|     US-FL|    Bushnell|    00FA|     null|      00FA|-82.2190017700195...|
| 00FD|     heliport|  Ringhaver Heliport|          25|       NA|         US|     US-FL|   Riverview|    00FD|     null|      00FD|-82.3453979492187...|
| 00FL|small_airport|   River Oak Airport|          35|       NA|         US|     US-FL|  Okeechobee|    00FL|     null|      00FL|-80.9692001342773...|
| 00GA|small_airport|    Lt World Airport|         700|       NA|         US|     US-GA|    Lithonia|    00GA|     null|      00GA|-84.0682983398437...|
| 00GE|     heliport|    Caffrey Heliport|         957|       NA|         US|     US-GA|       Hiram|    00GE|     null|      00GE|-84.7339019775390...|
| 00HI|     heliport|  Kaupulehu Heliport|          43|       NA|         US|     US-HI| Kailua/Kona|    00HI|     null|      00HI|-155.980233, 19.8...|
| 00ID|small_airport|Delta Shores Airport|        2064|       NA|         US|     US-ID|  Clark Fork|    00ID|     null|      00ID|-116.213996887207...|
| 00IG|small_airport|       Goltl Airport|        3359|       NA|         US|     US-KS|    McDonald|    00IG|     null|      00IG|-101.395994, 39.7...|
| 00II|     heliport|Bailey Generation...|         600|       NA|         US|     US-IN|  Chesterton|    00II|     null|      00II|-87.122802734375,...|
+-----+-------------+--------------------+------------+---------+-----------+----------+------------+--------+---------+----------+--------------------+
only showing top 20 rows

None
No. of duplicates in table "city": 567
No. of duplicates in table "state": 49
No. of duplicates in table "median_age": 180
No. of duplicates in table "male_population": 594
No. of duplicates in table "female_population": 595
No. of duplicates in table "total_population": 594
No. of duplicates in table "number_of_veterans": 578
No. of duplicates in table "foreign_born": 588
No. of duplicates in table "average_household_size": 162
No. of duplicates in table "state_code": 49
No. of duplicates in table "race": 5
No. of duplicates in table "count": 2785
+----------------+--------------+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+--------------------+------+
|            city|         state|median_age|male_population|female_population|total_population|number_of_veterans|foreign_born|average_household_size|state_code|                race| count|
+----------------+--------------+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+--------------------+------+
|   Silver Spring|      Maryland|      33.8|          40601|            41862|           82463|              1562|       30908|                   2.6|        MD|  Hispanic or Latino| 25924|
|          Quincy| Massachusetts|      41.0|          44129|            49500|           93629|              4147|       32935|                  2.39|        MA|               White| 58723|
|          Hoover|       Alabama|      38.5|          38040|            46799|           84839|              4819|        8229|                  2.58|        AL|               Asian|  4759|
|Rancho Cucamonga|    California|      34.5|          88127|            87105|          175232|              5821|       33878|                  3.18|        CA|Black or African-...| 24437|
|          Newark|    New Jersey|      34.6|         138040|           143873|          281913|              5829|       86253|                  2.73|        NJ|               White| 76402|
|          Peoria|      Illinois|      33.1|          56229|            62432|          118661|              6634|        7517|                   2.4|        IL|American Indian a...|  1343|
|        Avondale|       Arizona|      29.1|          38712|            41971|           80683|              4815|        8355|                  3.18|        AZ|Black or African-...| 11592|
|     West Covina|    California|      39.8|          51629|            56860|          108489|              3800|       37038|                  3.56|        CA|               Asian| 32716|
|        O'Fallon|      Missouri|      36.0|          41762|            43270|           85032|              5783|        3269|                  2.77|        MO|  Hispanic or Latino|  2583|
|      High Point|North Carolina|      35.5|          51751|            58077|          109828|              5204|       16315|                  2.65|        NC|               Asian| 11060|
|          Folsom|    California|      40.9|          41051|            35317|           76368|              4187|       13234|                  2.62|        CA|  Hispanic or Latino|  5822|
|          Folsom|    California|      40.9|          41051|            35317|           76368|              4187|       13234|                  2.62|        CA|American Indian a...|   998|
|    Philadelphia|  Pennsylvania|      34.1|         741270|           826172|         1567442|             61995|      205339|                  2.61|        PA|               Asian|122721|
|         Wichita|        Kansas|      34.6|         192354|           197601|          389955|             23978|       40270|                  2.56|        KS|  Hispanic or Latino| 65162|
|         Wichita|        Kansas|      34.6|         192354|           197601|          389955|             23978|       40270|                  2.56|        KS|American Indian a...|  8791|
|      Fort Myers|       Florida|      37.3|          36850|            37165|           74015|              4312|       15365|                  2.45|        FL|               White| 50169|
|      Pittsburgh|  Pennsylvania|      32.9|         149690|           154695|          304385|             17728|       28187|                  2.13|        PA|               White|208863|
|          Laredo|         Texas|      28.8|         124305|           131484|          255789|              4921|       68427|                  3.66|        TX|American Indian a...|  1253|
|        Berkeley|    California|      32.5|          60142|            60829|          120971|              3736|       25000|                  2.35|        CA|               Asian| 27089|
|     Santa Clara|    California|      35.2|          63278|            62938|          126216|              4426|       52281|                  2.75|        CA|               White| 55847|
+----------------+--------------+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+--------------------+------+
only showing top 20 rows

None

### Data Transformations
This section will contain the steps required to transform the datasets.

From previous notes we now carry out some transformation actions.
1. Double to Integer (TFA-1)
1. String to numbers (TFA-2)
1. SAS Date Type to date (TFA-5)
1. Non-Iso Date Type to date (TFA-6)

Note that TFA-3 and TFA-4 were already carried out in the previous chapter.

#### Integer Type Transformation (TFA-1)
The fields mentioned here are IntegerType but were infered as double, we are changing them to integer.

In addition the string column `entdepa` will also be changed.

In [11]:
int_fields = ['cicid','i94yr', 'i94mon', 'i94cit', 'i94res', 'arrdate', 'depdate', 'i94mode', 'i94bir','i94visa', 'count', 'biryear']

def change_type(df=None, fields=None, totype=None):
    if ((totype is not None) and (fields is not None)):
        for column in fields:
            cur_type = df.schema[column]
            df = df.withColumn(column, F.col(column).cast(totype))
            new_type = df.schema[column]
            print('Done, switched column {} from {} to {}'.format(column, cur_type.dataType, new_type.dataType))
        print(df.select(fields).show(5))
        return df
    else:
        return None

imm_df = change_type(imm_df, int_fields, 'int')
imm_df = change_type(imm_df, ['admnum'], 'bigint')

Done, switched column cicid from DoubleType to IntegerType
Done, switched column i94yr from DoubleType to IntegerType
Done, switched column i94mon from DoubleType to IntegerType
Done, switched column i94cit from DoubleType to IntegerType
Done, switched column i94res from DoubleType to IntegerType
Done, switched column arrdate from DoubleType to IntegerType
Done, switched column depdate from DoubleType to IntegerType
Done, switched column i94mode from DoubleType to IntegerType
Done, switched column i94bir from DoubleType to IntegerType
Done, switched column i94visa from DoubleType to IntegerType
Done, switched column count from DoubleType to IntegerType
Done, switched column biryear from DoubleType to IntegerType
+-----+-----+------+------+------+-------+-------+-------+------+-------+-----+-------+
|cicid|i94yr|i94mon|i94cit|i94res|arrdate|depdate|i94mode|i94bir|i94visa|count|biryear|
+-----+-----+------+------+------+-------+-------+-------+------+-------+-----+-------+
|  107| 2016|     4|   103|   103|  20545|  20556|      1|    33|      2|    1|   1983|
|  149| 2016|     4|   103|   103|  20545|  20552|      1|    34|      2|    1|   1982|
|  200| 2016|     4|   103|   103|  20545|  20635|      1|    41|      1|    1|   1975|
|  228| 2016|     4|   103|   103|  20545|  20550|      1|    39|      2|    1|   1977|
|  397| 2016|     4|   103|   103|  20545|  20561|      1|    72|      2|    1|   1944|
+-----+-----+------+------+------+-------+-------+-------+------+-------+-----+-------+
only showing top 5 rows

None
Done, switched column admnum from DoubleType to LongType
+-----------+
|     admnum|
+-----------+
|55424716533|
|55440588633|
|55432435833|
|55436868833|
|55434850233|
+-----------+
only showing top 5 rows

None

#### String to numbers (TFA-2)
In dataframes for demographic and airport data no float types were infered. Instead we see floating point numbers imported as strings.
Those will be changed here.

In [12]:
# Airport data:
float_fields = ['elevation_ft']
int_fields = None

air_df = change_type(air_df, float_fields, 'double')

Done, switched column elevation_ft from StringType to DoubleType
+------------+
|elevation_ft|
+------------+
|        11.0|
|      3435.0|
|       450.0|
|       820.0|
|       237.0|
+------------+
only showing top 5 rows

None

In [13]:
# Demographic Data
float_fields = ['median_age', 'average_household_size', 'count' ]
int_fields = ['male_population', 'female_population', 'total_population', 'number_of_veterans', 'foreign_born']

dem_df = change_type(dem_df, float_fields, 'double')
dem_df = change_type(dem_df, int_fields, 'int')

Done, switched column median_age from StringType to DoubleType
Done, switched column average_household_size from StringType to DoubleType
Done, switched column count from StringType to DoubleType
+----------+----------------------+-------+
|median_age|average_household_size|  count|
+----------+----------------------+-------+
|      33.8|                   2.6|25924.0|
|      41.0|                  2.39|58723.0|
|      38.5|                  2.58| 4759.0|
|      34.5|                  3.18|24437.0|
|      34.6|                  2.73|76402.0|
+----------+----------------------+-------+
only showing top 5 rows

None
Done, switched column male_population from StringType to IntegerType
Done, switched column female_population from StringType to IntegerType
Done, switched column total_population from StringType to IntegerType
Done, switched column number_of_veterans from StringType to IntegerType
Done, switched column foreign_born from StringType to IntegerType
+---------------+-----------------+----------------+------------------+------------+
|male_population|female_population|total_population|number_of_veterans|foreign_born|
+---------------+-----------------+----------------+------------------+------------+
|          40601|            41862|           82463|              1562|       30908|
|          44129|            49500|           93629|              4147|       32935|
|          38040|            46799|           84839|              4819|        8229|
|          88127|            87105|          175232|              5821|       33878|
|         138040|           143873|          281913|              5829|       86253|
+---------------+-----------------+----------------+------------------+------------+
only showing top 5 rows

None

#### SAS Date Type Transformations (TFA-5)
The SAS formatted dates (e.v. "20573.0") should be changed to proper date types.
Note we are not putting this into the nb_helpers.py because it' s a more exemplary kind of transformation.

In [14]:
sas_date_columns = ['arrdate', 'depdate']
from pyspark.sql.functions import date_add

def sasdate_to_date(df=None, column_list=None):
    # SAS has its own epoch, which we add temporarily
    df = df.withColumn('epoch_start', F.lit("01-01-1960 00:00:00"))
    df = df.withColumn('epoch_start', F.to_date(F.col('epoch_start'), "dd-M-yyyy"))
    # Then go through list of columns and convert double to int, then add this int to epoch_start
    for column in column_list:
        df = df.withColumn(column, F.col(column).cast('int'))
        stm = 'date_add(epoch_start, {})'.format(column)
        df = df.withColumn(column, F.expr(stm))
    return df

imm_df = sasdate_to_date(imm_df, sas_date_columns)
imm_df.select(sas_date_columns).show(5)

+----------+----------+
|   arrdate|   depdate|
+----------+----------+
|2016-04-01|2016-04-12|
|2016-04-01|2016-04-08|
|2016-04-01|2016-06-30|
|2016-04-01|2016-04-06|
|2016-04-01|2016-04-17|
+----------+----------+
only showing top 5 rows

#### Non-Iso Date Type Transformations (TFA-6)
Columns `dtadtto` and `dtadtofile` contain non-iso dateformats and will be converted into proper date types as well.

In [15]:
# if required, update the dictionary with a new column and a new pattern or change existing
imm_non_iso_dates = {'dtaddto': 'MMddyyyy', 'dtadfile': 'yyyyMMdd'}    
imm_df = non_iso_date_change(imm_df, imm_non_iso_dates)

print('Here a view on some examples: ')
print(imm_df.select('dtaddto').show(5), imm_df.select('dtadfile').show(5))

### Changing SAS Date Type to Spark Datetype
Done, switched column dtaddto from StringType to DateType
Done, switched column dtadfile from StringType to DateType
Here a view on some examples:
+----------+
|   dtaddto|
+----------+
|2016-06-29|
|2016-06-29|
|2016-06-29|
|2016-06-29|
|2016-06-29|
+----------+
only showing top 5 rows

+----------+
|  dtadfile|
+----------+
|2016-04-01|
|2016-04-01|
|2016-04-01|
|2016-04-01|
|2016-04-01|
+----------+
only showing top 5 rows

None None

#### Missing values and nullable setting (TFA-7)

##### Changing nullable setting
Changing columns in the i94 dataset to `nullable = true` where applicable.

In [16]:
# Define fields which should not be empty
not_null_fields = ['cicid', 'admnum', 'i94yr', 'i94mon', 'i94cit', 'arrdate']
imm_df = imm_df.dropna(subset=not_null_fields)
imm_df = change_nullables(session=spark, df=imm_df, column_list=not_null_fields)

Done, Schema changed for  6  columns.

Demographic file did not have any missing values, so we set all fields to nullable = false

In [17]:
not_null_fields = dem_df.columns
dem_df = dem_df.na.drop(subset=not_null_fields)
dem_df = change_nullables(session=spark, df=dem_df, column_list=not_null_fields)

Done, Schema changed for  12  columns.

From airport data we want the items with iata code filled only

In [18]:
not_null_fields = ['iata_code']
air_df = air_df.na.drop(subset=not_null_fields)
air_df = change_nullables(session=spark, df=air_df, column_list=not_null_fields)

Done, Schema changed for  1  columns.

#### Writing schemas to JSON (optional: re-importing data with updated schema from JSON)
Now that we have altered the dataframe schemas we export those schemas into JSON files.

In [19]:
# Write to Json file using a function
def write_schema_json(df, schema_file):
    import json
    import sys
    with open(schema_file, "w") as f:
        json.dump(df.schema.jsonValue(), f)

# Let's call that for each dataframe
write_schema_json(imm_df, imm_schema_file)
write_schema_json(dem_df, dem_schema_file)
write_schema_json(air_df, air_schema_file)

At this point one could read the JSON schema and apply it for importing data.

However during my work I got a ClassCastException after importing the data on ".show()" or any other actions, cancelling my error search here.

In [ ]:
# Save some lines by using a function to import a schema from JSON
def import_schema(schema_file):
    """ Function import_schema take a schema file as input.
        The file should be JSON formatted and contain a valid Spark schema definition.
        
        Returns: Imported schema definition as Spark schema struct"""
    
    import json
    schema_df = spark.sparkContext.wholeTextFiles(schema_file)
    schema_content = schema_df.collect()[0][1]
    schema_dict = json.loads(str(schema_content))
    new_schema = T.StructType.fromJson(schema_dict)
    return new_schema

# Now apply the schema for each
start_time = datetime.now()
imm_df = spark.read.format('com.github.saurfang.sas.spark').load(path=imm_file, schema=import_schema(imm_schema_file))
air_df = spark.read.csv(air_file, header=True, schema=import_schema(air_schema_file))
dem_df = spark.read.csv(dem_file, header=True, sep=';', schema=import_schema(dem_schema_file))
elapse = datetime.now() - start_time
print('Reading ', imm_df.count(), ' lines from ', imm_file)
print('Reading ', dem_df.count(), ' lines from ', dem_file)
print('Reading ', air_df.count(), ' lines from ', air_file)
print('Operation runtime ', elapse)

#### Resulting schema definitions
In the sections above we have transformed specific values

In [20]:
imm_df.printSchema()
air_df.printSchema()
dem_df.printSchema()

root
 |-- cicid: integer (nullable = false)
 |-- i94yr: integer (nullable = false)
 |-- i94mon: integer (nullable = false)
 |-- i94cit: integer (nullable = false)
 |-- i94res: integer (nullable = true)
 |-- i94port: string (nullable = true)
 |-- arrdate: date (nullable = false)
 |-- i94mode: integer (nullable = true)
 |-- i94addr: string (nullable = true)
 |-- depdate: date (nullable = true)
 |-- i94bir: integer (nullable = true)
 |-- i94visa: integer (nullable = true)
 |-- count: integer (nullable = true)
 |-- dtadfile: date (nullable = true)
 |-- visapost: string (nullable = true)
 |-- occup: string (nullable = true)
 |-- entdepa: string (nullable = true)
 |-- entdepd: string (nullable = true)
 |-- entdepu: string (nullable = true)
 |-- matflag: string (nullable = true)
 |-- biryear: integer (nullable = true)
 |-- dtaddto: date (nullable = true)
 |-- gender: string (nullable = true)
 |-- insnum: string (nullable = true)
 |-- airline: string (nullable = true)
 |-- admnum: long (nullable = false)
 |-- fltno: string (nullable = true)
 |-- visatype: string (nullable = true)
 |-- epoch_start: date (nullable = true)

root
 |-- ident: string (nullable = true)
 |-- type: string (nullable = true)
 |-- name: string (nullable = true)
 |-- elevation_ft: double (nullable = true)
 |-- continent: string (nullable = true)
 |-- iso_country: string (nullable = true)
 |-- iso_region: string (nullable = true)
 |-- municipality: string (nullable = true)
 |-- gps_code: string (nullable = true)
 |-- iata_code: string (nullable = false)
 |-- local_code: string (nullable = true)
 |-- coordinates: string (nullable = true)

root
 |-- city: string (nullable = false)
 |-- state: string (nullable = false)
 |-- median_age: double (nullable = false)
 |-- male_population: integer (nullable = false)
 |-- female_population: integer (nullable = false)
 |-- total_population: integer (nullable = false)
 |-- number_of_veterans: integer (nullable = false)
 |-- foreign_born: integer (nullable = false)
 |-- average_household_size: double (nullable = false)
 |-- state_code: string (nullable = false)
 |-- race: string (nullable = false)
 |-- count: double (nullable = false)

### Exporting the data to Parquet
We export the collected data in Parquet format after we have processed the cleaning steps above.
Note that in this notebook we are only writing a sample of the immigration data. Dataframe `imm_full` contains all 3M rows we will write in production.

In [ ]:
imm_df.write.parquet("immigration_data", mode='overwrite', compression='gzip')
dem_df.write.parquet('demographic_data', mode='overwrite', compression='gzip')
air_df.write.parquet('airport_data', mode='overwrite', compression='gzip')

### Logical exploration using PySpark
In this chapter we will show some more explorative analysis that we help us understanding the data.

#### Example 01: Link demographic data with airport/city
Select the valid median age per airport

In [ ]:
imm_df.select(['arrdate', 'dtaddto']).withColumn('admission_time', F.datediff(F.col('dtaddto'), F.col('arrdate'))).filter(F.col('admission_time') < 89).show(5)

#### Logical exploration example 2: Filter airport data (TFA-8)
The airport codes table has over 50k entries. We can reduce it by filtering for *type airport* and for matching with immigration data we also need the *iata_code*.

The resulting dataframe from the airport dataset will be kept as a transformed version of the table (trimmed of spaces in column `iata_code` and exported to Parquet later (dimension table "airport").

The code below creates five examples of travellers and their corresponding airport information.

In [55]:
# Read all airport codes from the airport dataframe
airport_table = ['iata_code', 'name', 'municipality', 'iso_region', 'iso_country', 'coordinates']
airport_codes = air_df.filter(air_df.iata_code.isNotNull()).select(airport_table).withColumnRenamed('iata_code', 'airport_code')

# Read Columns from immigration dataset
imm_airports = imm_df.select(['cicid', 'arrdate', 'i94port']).withColumnRenamed('i94port', 'airport_code').distinct()

# Clean the codes from any spaces
airport_code = airport_codes.withColumn('airport_code', F.trim(F.col('airport_code')))
imm_airports = imm_airports.withColumn('airport_code', F.trim(F.col('airport_code')))

# Join with immigration dataset
imm_airports.join(airport_codes, on='airport_code').show(5)

+------------+-------+----------+--------------------+------------+----------+-----------+--------------------+
|airport_code|  cicid|   arrdate|                name|municipality|iso_region|iso_country|         coordinates|
+------------+-------+----------+--------------------+------------+----------+-----------+--------------------+
|         BGM| 154968|2016-04-01|Greater Binghamto...|  Binghamton|     US-NY|         US|-75.97979736, 42....|
|         FMY|3147212|2016-04-17|          Page Field|  Fort Myers|     US-FL|         US|-81.8632965087999...|
|         FMY|3366926|2016-04-18|          Page Field|  Fort Myers|     US-FL|         US|-81.8632965087999...|
|         FMY|3148262|2016-04-17|          Page Field|  Fort Myers|     US-FL|         US|-81.8632965087999...|
|         FMY|5200043|2016-04-27|          Page Field|  Fort Myers|     US-FL|         US|-81.8632965087999...|
+------------+-------+----------+--------------------+------------+----------+-----------+--------------------+
only showing top 5 rows

In [ ]:
Logical exploration example 3: Renaming columns

### Step 3: Define the Data Model
#### 3.1 Conceptual Data Model
Map out the conceptual data model and explain why you chose that model

#### 3.2 Mapping Out Data Pipelines
List the steps necessary to pipeline the data into the chosen data model

In [ ]:
print(imm_df.columns)

### Step 4: Run Pipelines to Model the Data 
#### 4.1 Create the data model
Build the data pipelines to create the data model.

In [ ]:
# Write code here

#### 4.2 Data Quality Checks
Explain the data quality checks you'll perform to ensure the pipeline ran as expected. These could include:
 * Integrity constraints on the relational database (e.g., unique key, data type, etc.)
 * Unit tests for the scripts to ensure they are doing the right thing
 * Source/Count checks to ensure completeness
 
Run Quality Checks

In [ ]:
# Perform quality checks here

#### 4.3 Data dictionary 
Create a data dictionary for your data model. For each field, provide a brief description of what the data is and where it came from. You can include the data dictionary in the notebook or in a separate file.

#### Step 5: Complete Project Write Up
* Clearly state the rationale for the choice of tools and technologies for the project.
* Propose how often the data should be updated and why.
* Write a description of how you would approach the problem differently under the following scenarios:
 * The data was increased by 100x.
 * The data populates a dashboard that must be updated on a daily basis by 7am every day.
 * The database needed to be accessed by 100+ people.