# Immigration Data ETL
### Data Engineering Capstone Project

#### Project Summary
--describe your project at a high level--

The project follows the follow steps:
* Step 1: Scope the Project and Gather Data
* Step 2: Explore and Assess the Data
* Step 3: Define the Data Model
* Step 4: Run ETL to Model the Data
* Step 5: Complete Project Write Up

## Step 2 Explore and assess the data

### Overview
In this section we will explore the data, idenfify and implement necessary transformations and finally export the data to S3 in parquet format.

Subsections of this Notebook:
* Preparations (imports, file locations, etc.)
* Dataframe schema analysis
* Explorative analysis of the data
* Dataframe transformation steps
* Defining a new schema
* Writing data to S3 in Parquet format
* Examples of analyzing table contents using PySpark

### Preparations

#### Imports and Installs

In [1]:
# Do all imports and installs here
import pandas as pd
import numpy as np
import logging
import sys
from datetime import datetime
from os.path import getsize
from nb_helpers import summarize_data, get_sas_definitions, read_sas_in_chunks, read_csv_print, print_stat, non_iso_date_change, change_nullables
from pyspark.sql import SparkSession
from pyspark.sql import SQLContext
from pyspark import SparkContext, SparkConf
from pyspark.sql.window import Window
import pyspark.sql.functions as F
import pyspark.sql.types as T
from pyspark.sql.functions import pandas_udf

# Logging
logging.basicConfig(
    level=logging.ERROR,
    format='%(asctime)s %(levelname)s \t %(message)s ',
    datefmt='%Y-%m-%d %H:%M:%S',
    stream=sys.stdout,
)
log = logging.getLogger('log')

# Improve view
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

### Reading data files into Spark Dataframes
The next cell contains the file locations for each dataset, you may adjust it if required. Also note the configuration of the sample size which will improve performance while making some basic analysis.

In [2]:
# Source file locations
dem_file = 'us-cities-demographics.csv'
imm_file = '../../data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat'
air_file = 'airport-codes_csv.csv'

# Schema file locations
air_schema_file = 'air_schema.json'
dem_schema_file = 'dem_schema.json'
imm_schema_file = 'imm_schema.json'


# If working on a sample of the large immigration dataset, set your sample size here:
sample_size = 0.01

During my analysis I changed the schema of each dataset imported and based on the transformations done created a new schema definition. The definition is stored in a JSON file.

The data will be **imported again** using those schema **at the end** of the "Explore and Assess" section.

Now we setup the Spark Session and read all three files into a dataframe

In [3]:
	
from pyspark.sql import SparkSession
spark = SparkSession.builder.\
config("spark.jars.packages","saurfang:spark-sas7bdat:2.0.0-s_2.11")\
.enableHiveSupport().getOrCreate()

############# TEST option("inferSchema", "true")
start_time = datetime.now()
imm_df = spark.read.format('com.github.saurfang.sas.spark').option("inferSchema","true").load(imm_file)
imm_rows = imm_df.count()
air_df = spark.read.csv(air_file, header=True)
air_rows = air_df.count()
dem_df = spark.read.csv(dem_file, header=True)
dem_rows = dem_df.count()
df_list = {'imm_df': imm_df, 'air_df': air_df, 'dem_df': dem_df}
imm_full = imm_df
elapse = datetime.now() - start_time
print('Reading ', imm_rows , ' lines from ', imm_file)
print('Reading ', dem_rows, ' lines from ', dem_file)
print('Reading ', air_rows, ' lines from ', air_file)
print('Operation runtime ', elapse)

Reading  3096313  lines from  ../../data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat
Reading  2891  lines from  us-cities-demographics.csv
Reading  55075  lines from  airport-codes_csv.csv
Operation runtime  0:00:43.137382

### Explore and Describe data
This section contains the following subsections:
* Spark schema analysis
* Spark dataframe descriptions analysis

Before we start this section we are naming each dataframe and reducing immigration data to a sample of the complete dataframe, keeping the full set in variable `imm_full` (the sample size being configured at the beginning of this notebook).

In [4]:
imm_df = imm_full.sample(sample_size)
imm_df.name = 'i94 immigration data'
dem_df.name = 'city demographics'
air_df.name = 'airport codes'

**Note:**

    * We want to keep track of transformation steps
    * So if a required transformation is identified, it will be assigned a number like "TFA-x"
    * Where "TFA" stands for transformation action (plus a number)

#### Display schemas created automatically by Spark

In [5]:
imm_df.printSchema()
air_df.printSchema()
dem_df.printSchema()

root
 |-- cicid: double (nullable = true)
 |-- i94yr: double (nullable = true)
 |-- i94mon: double (nullable = true)
 |-- i94cit: double (nullable = true)
 |-- i94res: double (nullable = true)
 |-- i94port: string (nullable = true)
 |-- arrdate: double (nullable = true)
 |-- i94mode: double (nullable = true)
 |-- i94addr: string (nullable = true)
 |-- depdate: double (nullable = true)
 |-- i94bir: double (nullable = true)
 |-- i94visa: double (nullable = true)
 |-- count: double (nullable = true)
 |-- dtadfile: string (nullable = true)
 |-- visapost: string (nullable = true)
 |-- occup: string (nullable = true)
 |-- entdepa: string (nullable = true)
 |-- entdepd: string (nullable = true)
 |-- entdepu: string (nullable = true)
 |-- matflag: string (nullable = true)
 |-- biryear: double (nullable = true)
 |-- dtaddto: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- insnum: string (nullable = true)
 |-- airline: string (nullable = true)
 |-- admnum: double (nullable = true)
 |-- fltno: string (nullable = true)
 |-- visatype: string (nullable = true)

root
 |-- ident: string (nullable = true)
 |-- type: string (nullable = true)
 |-- name: string (nullable = true)
 |-- elevation_ft: string (nullable = true)
 |-- continent: string (nullable = true)
 |-- iso_country: string (nullable = true)
 |-- iso_region: string (nullable = true)
 |-- municipality: string (nullable = true)
 |-- gps_code: string (nullable = true)
 |-- iata_code: string (nullable = true)
 |-- local_code: string (nullable = true)
 |-- coordinates: string (nullable = true)

root
 |-- City;State;Median Age;Male Population;Female Population;Total Population;Number of Veterans;Foreign-born;Average Household Size;State Code;Race;Count: string (nullable = true)

**Note** (TFA-1) Several columns in the i94 dataframe were infered as double while they should be of data type integer. Those types should be changed (see `cicid, i94yr,...`).

**Note** (TFA-2) Several columns in airport and demographic data were infered as string where they should be either double or integer (see airport data, `elevation_ft` or demographic data `median_age`

**Note** (TFA-3) Demographics data file was imported as a one-column file due to ';' being used as delimiter. We read the file again:

In [6]:
dem_df = spark.read.csv(dem_file, header=True, sep=';')
dem_df.printSchema()

root
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Median Age: string (nullable = true)
 |-- Male Population: string (nullable = true)
 |-- Female Population: string (nullable = true)
 |-- Total Population: string (nullable = true)
 |-- Number of Veterans: string (nullable = true)
 |-- Foreign-born: string (nullable = true)
 |-- Average Household Size: string (nullable = true)
 |-- State Code: string (nullable = true)
 |-- Race: string (nullable = true)
 |-- Count: string (nullable = true)

**Note**: (TFA-4) For easier handling we strip columns of spaces, apply lower case and replace inner spaces and '-' with underscore '_'

In [7]:
def trim_col_headers(df):
    for col in df.columns:
        changed_col = col.strip().lower().replace(' ', '_').replace('-', '_')
        df = df.withColumnRenamed(col, changed_col)
    return df

dem_df = trim_col_headers(dem_df)

### Dataset descriptions

#### Statistical summary on data
The descriptive statistics were shown in Step 1 already, so we will skip this step here

#### Missing values per dataset
First we are measuring the amount of empty cells per column

In [ ]:
# Get no. of entries per column and divide by total rows
imm_col_count = imm_full.describe().filter(F.col('summary') == 'count')
air_col_count = air_df.describe().filter(F.col('summary') == 'count')
dem_col_count = dem_df.describe().filter(F.col('summary') == 'count')

In [ ]:
# Print the numbers as percentage

for df, numrows in zip([imm_col_count, air_col_count, dem_col_count], [imm_rows, air_rows, dem_rows]):
    for column in df.columns:
        if column == 'summary':
            next
        else:
            df = df.withColumn(column, F.col(column).cast('int'))
            df = df.withColumn(column, F.bround((F.col(column) / numrows * 100), scale=1))
    print('{}'.format(df.show()))

#### Unique values per column
We can count the number of unique values per dataframe or column using `dropDuplicates()` and `count()`

In [ ]:
# Print the numbers as percentage
for df, numrows in zip([imm_df, air_df, dem_df], [imm_rows, air_rows, dem_rows]):
    for column in df.columns:
        distinct_count = df.select(F.col(column)).distinct().count()
        print('No. of unique entries in table "{}": {}'.format(column, distinc_count))
    print('{}'.format(df.show()))

### Data Transformations
This section will contain the steps required to transform the datasets.

From previous notes we now carry out some transformation actions.
1. Double to Integer (TFA-1)
1. String to numbers (TFA-2)
1. SAS Date Type to date (TFA-5)
1. Non-Iso Date Type to date (TFA-6)

Note that TFA-3 and TFA-4 were already carried out in the previous chapter.

#### Integer Type Transformation (TFA-1)
The fields mentioned here are IntegerType but were infered as double, we are changing them to integer.

In addition the string column `entdepa` will also be changed.

In [ ]:
int_fields = ['cicid','i94yr', 'i94mon', 'i94cit', 'i94res', 'arrdate', 'depdate', 'i94mode', 'i94bir','i94visa', 'count', 'biryear']

def change_type(df=None, fields=None, totype=None):
    if ((totype is not None) and (fields is not None)):
        for column in fields:
            cur_type = df.schema[column]
            df = df.withColumn(column, F.col(column).cast(totype))
            new_type = df.schema[column]
            print('Done, switched column {} from {} to {}'.format(column, cur_type.dataType, new_type.dataType))
        print(df.select(fields).show(5))
        return df
    else:
        return None

imm_df = change_type(imm_df, int_fields, 'int')
imm_df = change_type(imm_df, ['admnum'], 'bigint')

#### String to numbers (TFA-2)
In dataframes for demographic and airport data no float types were infered. Instead we see floating point numbers imported as strings.
Those will be changed here.

In [ ]:
# Airport data:
float_fields = ['elevation_ft']
int_fields = None

air_df = change_type(air_df, float_fields, 'double')

In [ ]:
# Demographic Data
float_fields = ['median_age', 'average_household_size', 'count' ]
int_fields = ['male_population', 'female_population', 'total_population', 'number_of_veterans', 'foreign_born']

dem_df = change_type(dem_df, float_fields, 'double')
dem_df = change_type(dem_df, int_fields, 'int')

#### SAS Date Type Transformations (TFA-5)
The SAS formatted dates (e.v. "20573.0") should be changed to proper date types.
Note we are not putting this into the nb_helpers.py because it' s a more exemplary kind of transformation.

In [ ]:
sas_date_columns = ['arrdate', 'depdate']
from pyspark.sql.functions import date_add

def sasdate_to_date(df=None, column_list=None):
    # SAS has its own epoch, which we add temporarily
    df = df.withColumn('epoch_start', F.lit("01-01-1960 00:00:00"))
    df = df.withColumn('epoch_start', F.to_date(F.col('epoch_start'), "dd-M-yyyy"))
    # Then go through list of columns and convert double to int, then add this int to epoch_start
    for column in column_list:
        df = df.withColumn(column, F.col(column).cast('int'))
        stm = 'date_add(epoch_start, {})'.format(column)
        df = df.withColumn(column, F.expr(stm))
    return df

imm_df = sasdate_to_date(imm_df, sas_date_columns)
imm_df.select(sas_date_columns).show(5)

#### Non-Iso Date Type Transformations (TFA-6)
Columns `dtadtto` and `dtadtofile` contain non-iso dateformats and will be converted into proper date types as well.

In [ ]:
# if required, update the dictionary with a new column and a new pattern or change existing
imm_non_iso_dates = {'dtaddto': 'MMddyyyy', 'dtadfile': 'yyyyMMdd'}    
imm_df = non_iso_date_change(imm_df, imm_non_iso_dates)

print('Here a view on some examples: ')
print(imm_df.select('dtaddto').show(5), imm_df.select('dtadfile').show(5))

#### Missing values and nullable setting (TFA-7)

##### Changing nullable setting
Changing columns in the i94 dataset to `nullable = true` where applicable.

In [ ]:
# Define fields which should not be empty
not_null_fields = ['cicid', 'admnum', 'i94yr', 'i94mon', 'i94cit', 'arrdate']
imm_df = imm_df.dropna(subset=not_null_fields)
imm_df = change_nullables(session=spark, df=imm_df, column_list=not_null_fields)

Demographic file did not have any missing values, so we set all fields to nullable = false

In [ ]:
not_null_fields = dem_df.columns
dem_df = dem_df.na.drop(subset=not_null_fields)
dem_df = change_nullables(session=spark, df=dem_df, column_list=not_null_fields)

From airport data we want the items with iata code filled only

In [ ]:
not_null_fields = ['iata_code']
air_df = air_df.na.drop(subset=not_null_fields)
air_df = change_nullables(session=spark, df=air_df, column_list=not_null_fields)

#### Writing schemas to JSON (optional: re-importing data with updated schema from JSON)
Now that we have altered the dataframe schemas we export those schemas into JSON files.

In [ ]:
# Write to Json file using a function
def write_schema_json(df, schema_file):
    import json
    import sys
    with open(schema_file, "w") as f:
        json.dump(df.schema.jsonValue(), f)

# Let's call that for each dataframe
write_schema_json(imm_df, imm_schema_file)
write_schema_json(dem_df, dem_schema_file)
write_schema_json(air_df, air_schema_file)

At this point one could read the JSON schema and apply it for importing data.

However during my work I got a ClassCastException after importing the data on ".show()" or any other actions, cancelling my error search here.

In [ ]:
# Save some lines by using a function to import a schema from JSON
def import_schema(schema_file):
    """ Function import_schema take a schema file as input.
        The file should be JSON formatted and contain a valid Spark schema definition.
        
        Returns: Imported schema definition as Spark schema struct"""
    
    import json
    schema_df = spark.sparkContext.wholeTextFiles(schema_file)
    schema_content = schema_df.collect()[0][1]
    schema_dict = json.loads(str(schema_content))
    new_schema = T.StructType.fromJson(schema_dict)
    return new_schema

# Now apply the schema for each
start_time = datetime.now()
imm_df = spark.read.format('com.github.saurfang.sas.spark').load(path=imm_file, schema=import_schema(imm_schema_file))
air_df = spark.read.csv(air_file, header=True, schema=import_schema(air_schema_file))
dem_df = spark.read.csv(dem_file, header=True, sep=';', schema=import_schema(dem_schema_file))
elapse = datetime.now() - start_time
print('Reading ', imm_df.count(), ' lines from ', imm_file)
print('Reading ', dem_df.count(), ' lines from ', dem_file)
print('Reading ', air_df.count(), ' lines from ', air_file)
print('Operation runtime ', elapse)

#### Resulting schema definitions
In the sections above we have transformed specific values

In [ ]:
imm_df.printSchema()
air_df.printSchema()
dem_df.printSchema()

### Exporting the data to Parquet
We export the collected data in Parquet format after we have processed the cleaning steps above.
Note that in this notebook we are only writing a sample of the immigration data. Dataframe `imm_full` contains all 3M rows we will write in production.

In [ ]:
imm_df.write.parquet("immigration_data", mode='overwrite', compression='gzip')
dem_df.write.parquet('demographic_data', mode='overwrite', compression='gzip')
air_df.write.parquet('airport_data', mode='overwrite', compression='gzip')

### Logical exploration using PySpark
In this chapter we will show some more explorative analysis that we help us understanding the data.

#### Example 01: Link demographic data to airport locations (city)
The immigration data does not contain cities as full names but has a city code. Using the SAS definitions file we can add a list of cities as a dimension table.

In [ ]:
# First get relevant rows from CSV-file, remove spaces and split column content with entries like <CITY,STATE> into a column for city name and a column for state
                                         
sas_codes = spark.read.csv('SAS-Value-Codes.csv', header=True, sep=';')
sas_codes = sas_codes.filter(sas_codes.fieldname.contains('i94prt'))
sas_codes = sas_codes.select(['short_code', 'content']).withColumn('content', F.lower(F.col('content')))
sas_codes = sas_codes.withColumn('short_code', F.trim(F.col('short_code')))
sas_codes = sas_codes.withColumn('city', F.split(sas_codes['content'], ',').getItem(0)).withColumn('state', F.split(sas_codes['content'], ',').getItem(1))
sas_codes = sas_codes.withColumn('state', F.regexp_replace('state', '\s', ''))
sas_codes = sas_codes.drop('content')
sas_codes.show(5)

Now we check if we can match those to our airports dataframe using the short code in column `i94port`:

In [80]:
# Get some fields from airports dataframe and 2 columns from imm_df
airport_table = ['iata_code', 'name', 'municipality', 'iso_region', 'iso_country', 'coordinates']
airport_codes = air_df.filter(air_df.iata_code.isNotNull()).select(airport_table)
match_df = imm_df.select(['cicid', 'i94port'])

# Get some fields from airports dataframe and 2 columns from imm_df
airport_table = ['iata_code', 'name', 'municipality', 'iso_region', 'iso_country', 'coordinates']
airport_codes = air_df.filter(air_df.iata_code.isNotNull()).select(airport_table)
match_df = imm_df.select(['cicid', 'i94port'])

# Match the data, the non-matches will receive "null"
match_df = match_df.join(airport_codes, airport_codes.iata_code == sub_df.i94port, 'leftouter')
nomatch = match_df.filter(F.col('i94port').isNull().count()
match = match_df.filter(F.col('i94port').isNotNull().count()
# Count number of matching lines
print('Join failed for {} lines and matched for {} lines'.format(nomatch, match)))

20220

This catches **about 65% of the entries** in our fact table.

Now we could also try to match the city name in the SAS values list to the airport`municipality` column, but we consider this even worse.

Therefore we check the airport codes in the immigration table which are not matching to column `i94port`:

In [81]:
# Get list of entries which are missing
not_matching = match_df.select(['i94port']).filter(F.col('iata_code').isNull())
short_list = not_matching.select(['i94port']).distinct()
short_list.join(sas_codes, sas_codes.short_code == short_list.i94port, 'leftouter').show()

AnalysisException: "cannot resolve '`iata_code`' given input columns: [i94port];;\n'Filter isnull('iata_code)\n+- Project [i94port#6654]\n   +- Project [cicid#6649, i94port#6654]\n      +- LogicalRDD [cicid#6649, i94yr#6650, i94mon#6651, i94cit#6652, i94res#6653, i94port#6654, arrdate#6655, i94mode#6656, i94addr#6657, depdate#6658, i94bir#6659, i94visa#6660, count#6661, dtadfile#6662, visapost#6663, occup#6664, entdepa#6665, entdepd#6666, entdepu#6667, matflag#6668, biryear#6669, dtaddto#6670, gender#6671, insnum#6672, ... 5 more fields], false\n"

We could improve data quality by updating the airport code table with those missing codes.
This is how many rows can be added to the fact table per entry:

In [69]:
missing_airport_codes.groupBy('i94port').count().orderBy('count', ascending=False).show()

+-------+-----+
|i94port|count|
+-------+-----+
|    JKM|    1|
|    MOR|    1|
|    PHR|    3|
|    MIL|    4|
|    YHC|    6|
|    INP|    7|
|    PHU|   13|
|    YGF|   24|
|    X96|   29|
|    NOL|   30|
|    XXX|   33|
|    SAJ|  104|
|    SAI|  226|
|    WAS|  761|
|    LVG|  888|
|    FTL|  965|
|    CHI| 1323|
|    HHW| 1403|
|    NYC| 4888|
+-------+-----+

#### Logical exploration example 2: Filter airport data to get a dimension table (TFA-8)
The airport codes table has over 50k entries. We can reduce it by filtering for *type airport* and for matching with immigration data we also need the *iata_code*.

The resulting dataframe from the airport dataset will be kept as a transformed version of the table (trimmed of spaces in column `iata_code` and exported to Parquet later (dimension table "airport").

The code below creates five examples of travellers and their corresponding airport information.

In [55]:
# Read all airport codes from the airport dataframe
airport_table = ['iata_code', 'name', 'municipality', 'iso_region', 'iso_country', 'coordinates']
airport_codes = air_df.filter(air_df.iata_code.isNotNull()).select(airport_table).withColumnRenamed('iata_code', 'airport_code')

# Read Columns from immigration dataset
imm_airports = imm_df.select(['cicid', 'arrdate', 'i94port']).withColumnRenamed('i94port', 'airport_code').distinct()

# Clean the codes from any spaces
airport_code = airport_codes.withColumn('airport_code', F.trim(F.col('airport_code')))
imm_airports = imm_airports.withColumn('airport_code', F.trim(F.col('airport_code')))

# Join with immigration dataset
imm_airports.join(airport_codes, on='airport_code').show(5)

+------------+-------+----------+--------------------+------------+----------+-----------+--------------------+
|airport_code|  cicid|   arrdate|                name|municipality|iso_region|iso_country|         coordinates|
+------------+-------+----------+--------------------+------------+----------+-----------+--------------------+
|         BGM| 154968|2016-04-01|Greater Binghamto...|  Binghamton|     US-NY|         US|-75.97979736, 42....|
|         FMY|3147212|2016-04-17|          Page Field|  Fort Myers|     US-FL|         US|-81.8632965087999...|
|         FMY|3366926|2016-04-18|          Page Field|  Fort Myers|     US-FL|         US|-81.8632965087999...|
|         FMY|3148262|2016-04-17|          Page Field|  Fort Myers|     US-FL|         US|-81.8632965087999...|
|         FMY|5200043|2016-04-27|          Page Field|  Fort Myers|     US-FL|         US|-81.8632965087999...|
+------------+-------+----------+--------------------+------------+----------+-----------+--------------------+
only showing top 5 rows

In [ ]:
Logical exploration example 3: Renaming columns

### Step 3: Define the Data Model
#### 3.1 Conceptual Data Model
Map out the conceptual data model and explain why you chose that model

#### 3.2 Mapping Out Data Pipelines
List the steps necessary to pipeline the data into the chosen data model

In [ ]:
print(imm_df.columns)

### Step 4: Run Pipelines to Model the Data 
#### 4.1 Create the data model
Build the data pipelines to create the data model.

In [ ]:
# Write code here

#### 4.2 Data Quality Checks
Explain the data quality checks you'll perform to ensure the pipeline ran as expected. These could include:
 * Integrity constraints on the relational database (e.g., unique key, data type, etc.)
 * Unit tests for the scripts to ensure they are doing the right thing
 * Source/Count checks to ensure completeness
 
Run Quality Checks

In [ ]:
# Perform quality checks here

#### 4.3 Data dictionary 
Create a data dictionary for your data model. For each field, provide a brief description of what the data is and where it came from. You can include the data dictionary in the notebook or in a separate file.

#### Step 5: Complete Project Write Up
* Clearly state the rationale for the choice of tools and technologies for the project.
* Propose how often the data should be updated and why.
* Write a description of how you would approach the problem differently under the following scenarios:
 * The data was increased by 100x.
 * The data populates a dashboard that must be updated on a daily basis by 7am every day.
 * The database needed to be accessed by 100+ people.